.alcms-editor {
  .alcms-blocks-names {

  }

  .alcms-editor-block {
    position: relative;
    line-height: 24px;

    &.alcms-bottom-text {
      padding-top: 46px;
    }
  }

  .alcms-blocks-starts, .alcms-blocks-expires {
    width: 120px;

    .alcms-datetime {
      height: 20px;
      display: inline-block;
      top: -5px;
      left: 0;
    }
  }

  .alcms-blocks-buttons {
    width: 100px;
  }
}
