.alcms-editor {
  button {
    margin: 0;
    font: inherit;
    font-family: inherit;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.25);
      box-shadow: inset 0 3px 5px rgba(0,0,0,.25);
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    &:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    &.active {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
      &:hover {
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
      }
    }
  }

  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
    &.active {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
      &:hover {
        color: #fff;
        background-color: #204d74;
        border-color: #122b40;
      }
    }
  }

  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    &:hover {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
    }
    &.active {
      color: #fff;
      background-color: #449d44;
      border-color: #398439;
      &:hover {
        color: #fff;
        background-color: #398439;
        border-color: #255625;
      }
    }
  }

  .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    &:hover {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc;
    }
    &.active {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc;
      &:hover {
        color: #fff;
        background-color: #269abc;
        border-color: #1b6d85;
      }
    }
  }

  .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    &:hover {
      color: #fff;
      background-color: #ec971f;
      border-color: #d58512;
    }
    &.active {
      color: #fff;
      background-color: #ec971f;
      border-color: #d58512;
      &:hover {
        color: #fff;
        background-color: #d58512;
        border-color: #985f0d;
      }
    }
  }

  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    &:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
    &.active {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
      &:hover {
        color: #fff;
        background-color: #ac2925;
        border-color: #761c19;
      }
    }
  }

  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }

  .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
  }

  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
  }

  .alcms-separator {
    display: inline-block;
    width: 2px;
    height: 22px;
    background-color: #777;
    position: relative;
    top: 5px
  }
}
