.alcms-editor {
  &.editor-container {
    background-color: #1c1c1c;
    border-bottom: solid 1px #3c3c3c;
    color: #ffffff;
    position: fixed;
    transition: $transition;
    width: 100%;
    top: $title-height;
    z-index: 10001;
    left: 0;
  }

  &.alcms-menu.opened + .notifications-container + .editor-container {
    top: $editor-height;
  }
}
