.alcms-editor {
  &.title {
    background-color: #1c1c1c;
    border-bottom: solid 1px #3c3c3c;
    color: #ffffff;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: $title-height;
    padding: 0;
    font-family: Sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    line-height: $title-height;
    z-index: 1001;

    .caption {
      letter-spacing: 7px;
    }

    .buttons-left {
      display: inline-block;
      position: absolute;
      left: 6px;
      top: -3px;

      .btn {
        margin-right: 5px;
      }

      .alcms-separator {
        margin-left: 5px;
        margin-right: 10px;
      }
    }

    .buttons-right {
      display: inline-block;
      position: absolute;
      right: 6px;
      top: -3px;

      .btn {
        margin-left: 5px;
      }

      .alcms-separator {
        margin-left: 10px;
        margin-right: 5px;
      }
    }
  }
}
