.alcms-editor {
  &.alcms-menu {
    * {
      box-sizing: content-box;
      line-height: normal;
    }

    background-color: #1c1c1c;
    color: #ffffff;
    position: fixed;
    transition: $transition;
    width: 100%;
    height: $menu-height;
    top: -155px;
    z-index: 999;
    left: 0;
    font-size: 13px;
    font-family: Arial, sans-serif;

    &.opened {
      top: $title-height;
      bottom: auto;
      border-bottom: solid 1px #3c3c3c;
    }

    .static-container {
      display: inline-block;
      float: left;
      width: 250px;
      height: $menu-container-height;
      padding: $menu-container-padding;
      border-right: dashed 1px #3c3c3c;
    }

    .scrollable-container {
      display: block;
      overflow-y: auto;
      height: $menu-container-height;
      padding: $menu-container-padding;

      .table-wrap {
        height: 190px;
        overflow: auto;

        .tbl-blocks {
          border-collapse: collapse;
          border-spacing: 0;

          td, th {
            text-align: center;
            border-left: solid 1px #aaa;
            border-right: solid 1px #aaa;
            padding: 0 10px;
            vertical-align: top;
            line-height: 1.714;
            white-space: nowrap;

            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
            
            &.left {
              text-align: left;
            }
            &.right {
              text-align: right;
            }

            a {
              color: white;
              text-decoration: underline;
            }
          }

          thead {
            tr {
              border-bottom: solid 1px #aaa;
            }
          }

          tr.changed {
            td:first-child a:after {
              content: 'changed';
              display: inline-block;
              position: relative;
              top: 0;
              left: 5px;
              font-size: 10px;
              font-weight: normal;
              padding: 2px 3px;
              background-color: $badge-white-background;
              color: $badge-white-color;
              text-transform: lowercase;
              line-height: 10px;
              transition: all ease 0.3s;
            }

            &.unsaved {
              td:first-child a:after {
                background-color: $badge-white-unsaved-background;
              }
            }
          }
        }
      }
    }

    label {
      font-weight: normal;
      cursor: pointer;
      line-height: normal;
    }

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
    }

    input.date-value {
      border: none;
      border-bottom: solid 1px white;
      background-color: transparent;
      color: white;
      font-family: monospace;
      font-size: 13.33px;
      line-height: normal;

      &:focus {
        outline: none;
      }
    }

    .alcms-menu-field {
      white-space: nowrap;

      label {
        display: inline-block;
        position: relative;
        top: 2px;
        margin: 0 5px 0 0;
      }

      input + button {
        margin-left: 10px;
      }
    }

    .alcms-menu-checkboxes {
      margin-top: 10px;

      label {
        display: inline;
      }
    }
  }

  .js-alcms-open-menu {
    .up {
      display: none;
    }
    &.opened {
      .down {
        display: none;
      }
      .up {
        display: inline;
      }
    }
  }
}
