$timeline-color: #eee;
$timeline-height: 70px;

.timeline {
  height: $timeline-height;
  position: relative;

  .line {
    height: 2px;
    background: $timeline-color;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }

  .marker {
    height: 5px;
    width: 2px;
    background: $timeline-color;
    position: absolute;
    bottom: 2px;
    z-index: 10;
  }

  .interval {
    border: solid 1px;
    position: absolute;
    bottom: 0;
  }

  .interval-primary {
    background-color: rgba(100, 200, 100, 0.8);
    border-color: rgba(150, 200, 150, 1);
  }

  .interval-1 {
    background-color: rgba(100, 100, 200, 0.3);
    border-color: rgba(100, 100, 200, 0.5);
  }

  .interval-2 {
    background-color: rgba(200, 100, 100, 0.3);
    border-color: rgba(200, 100, 100, 0.5);
  }

  .interval-3 {
    background-color: rgba(200, 200, 100, 0.3);
    border-color: rgba(200, 200, 100, 0.5);
  }

  .interval-4 {
    background-color: rgba(200, 100, 200, 0.3);
    border-color: rgba(200, 100, 200, 0.5);
  }

  .interval-5 {
    background-color: rgba(100, 200, 200, 0.3);
    border-color: rgba(100, 200, 200, 0.5);
  }

  .step {
    position: absolute;
    height: $timeline-height + 1;
    bottom: 0;
    z-index: 12;
    cursor: pointer;
    &:hover, &.hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.5);
      border-left: solid 1px;
      border-right: solid 1px;
      border-top: none;
      border-bottom: none;
    }

    &.hover {
      z-index: 11;
    }

    &:hover {
      .label-left, .label-right, .label-now {
        visibility: visible;
      }
    }

    .label-left, .label-right {
      visibility: hidden;
      font-size: 10px;
      color: black;
      background-color: wheat;
      padding: 1px 2px;
      position: absolute;
      top: 77px;
      width: 60px;
      height: 22px;
      pointer-events: none;
    }

    .label-left, .label-right, .label-now {
      &:after {
        content: '';
        border: 6px solid transparent;
        border-bottom-color: wheat;
        border-top: 0;
        display: inline-block;
        margin: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: -6px;
      }
    }

    .label-left {
      text-align: right;
      left: -47px;
      &:after {
        left: 41px;
      }
    }

    .label-right {
      text-align: left;
      right: -47px;
      &:after {
        left: 11px;
      }
    }

    .label-now {
      color: white;
      background-color: #c9302c;
      font-size: 10px;
      position: absolute;
      top: 5px;
      left: 28px;
      padding: 1px 4px 0px 0px;
      line-height: 12px;
      visibility: hidden;

      &:after {
        border: 7px solid transparent;
        border-right-color: #c9302c;
        border-left: 0;
        left: -7px;
        top: 0;
      }
    }
  }

  .red-line {
    left: 260px;
    height: 100%;
    width: 2px;
    background-color: #c9302c;
    position: absolute;
    z-index: 15;
    pointer-events: none;
  }
}
