.alcms-editables {
  position: relative;
  margin-top: $title-height;
  transition: $transition;

  &.opened {
    margin-top: $editor-height;
  }

  .alcms-editable {
    min-width: 20px;
    outline: dashed 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    
    &.white-outline {
      outline: dashed 1px rgba(255, 255, 255, 0.7);
      background-color: rgba(0, 0, 0, 0.1);

      &.draft, &.initial {
        &:before {
          color: $badge-white-color;
          background-color: $badge-white-background;
        }

        &.unsaved {
          &:before {
            background-color: $badge-white-unsaved-background;
          }
        }
      }
    }

    &.draft, &.initial {
      &:before {
        content: "draft";
        display: inline-block;
        position: absolute;
        top: -1px;
        right: -1px;
        font-size: 10px;
        font-weight: normal;
        padding: 2px 3px;
        background-color: $badge-background;
        color: $badge-color;
        text-transform: lowercase;
        line-height: 10px;
        transition: top ease 0.3s;
      }

      &.unsaved {
        &:before {
          background-color: $badge-unsaved-background;
        }
      }
    }

    &.initial:before {
      content: "initial";
    }

    &:focus {
      &.draft, &.initial {
        &:before {
          top: -14px;
        }
      }
    }

    &.no-highlight {
      outline: none;
      background: none;
      &.draft, &.initial {
        &:before {
          visibility: hidden;
        }
      }
    }
  }
}
