$title-height: 45px;
$menu-height: 200px;
$menu-container-height: 190px;
$editor-height: 245px;
$menu-container-padding: 5px 10px;

$transition: all ease 0.1s;

$badge-background: #3c3c3c;
$badge-color: white;
$badge-unsaved-background: #ac3c3c;
$badge-white-background: white;
$badge-white-color: #3c3c3c;
$badge-white-unsaved-background: #ff9c9c;